<?xml version="1.0"?>
<robot name="table">
    <link name="base">
        <inertial>
            <mass value="0.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.2 1.2 0.1"/>
            </geometry>
            <material name="green">
                <color rgba="0.0 0.8 0.0 1.0"/>
            </material>
        </visual>
    </link>

    <link name="collision_to_base">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="1.2 1.2 0.1"/>
            </geometry>
        </collision>
    </link>

    <joint name="collision2base" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="base"/>
        <child link="collision_to_base"/>
    </joint>
    
    <link name="buttom">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="100.0"/>
            <inertia ixx="100.0" ixy="0.0" ixz="0.0" iyy="10.0" iyz="0.0" izz="10.0"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.8 0.8 1.0"/>
            </geometry>
            <material name="blue">
                <color rgba="0.0 0.0 0.8 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.8 0.8 1.0"/>
            </geometry>
        </collision>
    </link>

    <joint name="base2buttom" type="fixed">
        <origin xyz="0.0 0.0 0.55" rpy="0.0 0.0 0.0"/>
        <parent link="base"/>
        <child link="buttom"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>
</robot>